



<form>
<div class="header">
    <h2 class="color">About Us</h2>
</div>
<div class="main">
    <div class="row">
            <div class="column" style="height: 200px;">
            
                <h4>Ajinath Sawant</h4>
                <h6>Email:Ajinath.Sawant@lntinfotech.com</h6>
            
        </div>
                <div class="column" style="height: 200px;">
                
                    <h4>Roshani Rajput</h4>
                    <h6>Email:Roshani.Rajput@lntinfotech.com</h6>
                    
                </div>
            <div class="column" style="height: 200px;">
            
                <h4>Hitesh Bharadiya</h4>
                <h6>Email:Hitesh.Bharadiya@lntinfotech.com</h6>
                
            </div><hr>
            <div class="column" style="height: 200px;">
                    <h4>Nagateja Mathi</h4>
                    <h6>Email:Nagteja.Mathi@lntinfotech.com</h6>
                    
            </div>
        
    </div>
</div>
</form>
